inspectomop @ file:///Users/jonathanbadger/Library/Mobile%20Documents/com~apple~CloudDocs/Documents/Documents%20-%20Jonathan%E2%80%99s%20MacBook%20Pro/projects/inspectomop
numpy==2.4.4
pandas==3.0.2
python-dateutil==2.9.0.post0
six==1.17.0
SQLAlchemy==2.0.49
typing_extensions==4.15.0
