backports.tarfile==1.2.0
build==1.2.2
certifi==2024.8.30
charset-normalizer==3.3.2
docutils==0.21.2
greenlet==3.1.1
idna==3.10
importlib_metadata==8.5.0
inspectomop==0.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
keyring==25.4.1
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.5.0
nh3==0.2.18
numpy==2.1.1
packaging==24.1
pandas==2.2.3
pkginfo==1.10.0
Pygments==2.18.0
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
pytz==2024.2
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.8.1
six==1.16.0
SQLAlchemy==2.0.35
twine==5.1.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
zipp==3.20.2
